.navigation {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 44px 0 92px 29px;
  box-sizing: border-box;
}

.navigation__item-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation__item {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.navigation__item-link {
  display: flex;
  text-decoration: none;
}

.navigation__item-image {
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
}

.navigation__item:last-of-type {
  margin-bottom: 0;
}

.navigation__item-image_type_user-calls {
  background-image: url(../../images/navigation_user_calls.svg);
}

.navigation__item-image_type_new-call {
  background-image: url(../../images/navigation_new_call.svg);
}

.navigation__item-image_type_profile {
  background-image: url(../../images/navigation_profile.svg);
}

.navigation__item-image_type_information {
  background-image: url(../../images/navigation_information.svg);
}


.navigation__item-title {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  margin:0 0 0 18px;
  color: #5264A2;
  text-decoration: none;
  margin-right: 10px;
}
