.navigation {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 44px 0 92px 29px;
  box-sizing: border-box;
}

@import url(./__item-image/navigation__item-image.css);
@import url(./__item-image/_type/navigation__item-image_type_information.css);
@import url(./__item-image/_type/navigation__item-image_type_new-call.css);
@import url(./__item-image/_type/navigation__item-image_type_profile.css);
@import url(./__item-image/_type/navigation__item-image_type_user-calls.css);
@import url(./__item-link/navigation__item-link.css);
@import url(./__item-list/navigation__item-list.css);
@import url(./__item/navigation__item.css);
@import url(./__title/navigation__item-title.css);
