.new-call__number-container_type_active {
    background-color: transparent;
    border-width: 2px;
    border-style: solid;
    background-image:  linear-gradient(rgba(126, 135, 248, 1), rgba(155, 80, 251, 1));
}