.requests__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 16px 0;
}

@media screen and (max-width: 425px) {
  .requests__header {
    flex-direction: column;
    align-items: flex-start;
  }
}
