@import url(./__button/page__button.css);
@import url(./__container/page__container.css);
@import url(./__narrow/page__narrow.css);
@import url(./__subtitle/page__subtitle.css);
@import url(./__title/page__title.css);

.page {
  height: 100%;
  font-family: "Open Sans", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
