@import url(./__number-container/steps__number-container.css);
@import url(./__number/steps__number.css);
@import url(./__track/steps__track.css);
@import url(./__number-container/_type/steps__number-container_type_active.css);
@import url(./__number-container/_type/steps__number-container_type_complete.css);
@import url(./__number-container/_type/steps__number-container_type_disabled.css);

.steps {
    display: grid;
    width: 352px;
    grid-template-columns: 36px 1fr 36px 1fr 36px;
    align-items: center;
    justify-content: center;
    grid-area: steps;
    justify-self: flex-end;
    align-self: flex-start;
    box-sizing: border-box;
    margin-bottom: 49px;
}

@media all and (max-width:1024px) {
    .steps {
        justify-self: flex-start;
    }
  }

  @media all and (max-width:767px) {
    .steps {
        width: 280px;
        justify-self: center;
    }
  }