@import url(./_type/navigation__link-image_type_information.css);
@import url(./_type/navigation__link-image_type_new-call.css);
@import url(./_type/navigation__link-image_type_profile.css);
@import url(./_type/navigation__link-image_type_user-calls.css);

.navigation__link-image {
    width: 40px;
    height: 47px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  