.requests__item {
  padding: 24px;
  margin: 0 0 28px 0;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  border: 1px solid rgb(255 255 255 / 0.4);
}

.requests__item:last-child {
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .requests__item {
    padding: 16px;
    margin: 0 0 24px 0;
  }
}

@media screen and (max-width: 768px) {
  .requests__item {
    margin: 0 0 16px 0;
  }
}

@media screen and (max-width: 425px) {
  .requests__item {
    margin: 0 0 24px 0;
  }
}
