.page__narrow {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}


@media all and (max-width:1024px) {
  .page__narrow {
    max-width: calc(1024px - 120px * 2);
  }
}

@media all and (max-width:768px) {
  .page__narrow {
    max-width: calc(768px - 24px * 2);
  }
}

@media all and (max-width:767px) {
  .page__narrow {
    max-width: 100%;
  }
}