.navigation__header {
  display: flex;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  justify-content: center;
  align-items: center;
  min-height: 87px;
  background-color: #ffffff60;
  border: 1px solid rgb(255 255 255 / 0.4);
  box-sizing: border-box;
}

@media screen and (max-width:767px) {
  .navigation__header {
    display: none;
  }
}
