.section__subtitle_type_news {
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #313131;
  margin: 0 0 16px 0;
}
