.form__submit-button {
    height: 50px;
    width: 100%;
    background: linear-gradient(94.08deg, #7E87F8 0%, #9B50FB 98.92%);
    box-shadow: 0px 6px 17px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-top: 50px;
    color: #ffffff;
    padding: 0;
  }