.form__error {
  color: #B22424;
  font-size: 13px;
  line-height: 18px;
  padding: 16px 24px;
  box-sizing: border-box;
  border: 1px solid #A74343;
  border-radius: 6px;
  background-color: rgba(199, 19, 19, 0.1);
}