@import url(./__content/main__content.css);
@import url(./__content/_grid/main__content_grid_new-call.css);

.main {
  width: 100%;
  display: grid;
  grid-template-columns: 282px 1fr;
  padding-top: 40px;
  padding-bottom: 40px;
  gap: 24px;
  align-items: flex-start;
  flex-grow: 1;
  font-family: "Open Sans", Arial, sans-serif;
  margin: 0 auto;
}

@media all and (max-width:1024px) {
  .main {
    grid-template-columns: 245px 1fr;
  }
}

@media all and (max-width:768px) {
  .main {
    grid-template-columns: 224px 1fr;
    padding-bottom: 303px;
  }
}

@media all and (max-width:425px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
}