@import url(./__content/main__content.css);
@import url(./__content/_grid/main__content_grid_new-call.css);

.main {
  width: 100%;
  display: grid;
  grid-template-columns: 282px 1fr;
  padding-top: 40px;
  padding-bottom: 40px;
  gap: 24px;
  align-items: flex-start;
  flex-grow: 1;
  font-family: "Open Sans", Arial, sans-serif;
}

