.section__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: calc((100% - (173px * 6)) / 5);
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 1024px) {
  .section__list {
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 33px;
    max-width: 784px;
    grid-column-gap: calc((100% - (173px * 3)) / 2);
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .section__list {
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 32px;
    max-width: 720px;
    grid-column-gap: calc((100% - (223px * 3)) / 2);
    justify-items: center;
  }
}

@media (max-width: 660px) {
  .section__list {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 32px;
    max-width: 100%;
    grid-column-gap: calc((100% - (223px * 2)) / 1);
  }
}

@media (max-width: 425px) {
  .section__list {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 33px;
    max-width: 173px;
  }
}
