.about__item {
  width: 411px;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
  border-radius: 20px;
  padding: 24px;
}

@media (max-width: 1024px) {
  .about__item {
    width: 100%;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 24px;
  }
}
