.footer__about {
    font-size: 17px;
    line-height: 23px;
    font-weight: 600;
    letter-spacing: 0.03em;
    padding: 0;
    border: none;
    background-color: transparent;
    transition: opacity .2s linear;
    color: #313131;
}

.footer__about:hover {
    opacity: .4;
}

.footer__about:focus {
  outline: none;
}