<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="">
    <link rel="stylesheet" href="./styles.css">
    <link rel="shortcut icon" href="">
    <title>Гражданин поэт</title>
</head>

<body class="page">
    <header class="header">
        <div class="logo"></div>
          <div class="header__user-profile">
              <a href="#" class="header__user-profile-enter">nikerfe@gmail.com</a> 
              <button class="header__user-profile-logout"></button>
            </div>
    </header> 
    <section class="new-call">
        <nav class="navigation">
            <ul class="navigation__item-list">
                <li class="navigation__item">
                    <div class="navigation__item-image navigation__item-image_type_user-calls"></div>
                    <a href="#" class="navigation__item-title">Заявка</a>
                </li>
                <li class="navigation__item">
                    <div class="navigation__item-image navigation__item-image_type_new-call"></div>
                    <a href="#" class="navigation__item-title">Составить обращение</a>
                </li>
                <li class="navigation__item">
                    <div class="navigation__item-image navigation__item-image_type_profile"></div>
                    <a href="#" class="navigation__item-title">Настройки</a>
                </li>
                <li class="navigation__item">
                    <div class="navigation__item-image navigation__item-image_type_information"></div>
                    <a href="#" class="navigation__item-title">Профиль</a>
                </li>
            </ul>
        </nav>
        <div class="cards">
        <div class="cards-container">
            <div class="cards__hint">
                <h2 class="cards__hint-title">Составьте новое обращение</h2>
                <p calss="cards__hint-subtitle">Выберите место, где возникла проблема</p>
            </div>
        </section>


        </div>
    </div>
    </section>

</body>

</html>