.page-container {
  max-width: 1110px;
  margin: 0 auto;
}

.header {
    max-width: 100%;
    max-height: 90px;
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.logo {
    width: 62px;
    height: 50px;
   background-color: blueviolet;
   border-radius: 10px;
}

.header__user-profile {
    border-radius: 10px;
    padding: 15px 20px;
    margin-left: auto;
    background-color: #ffffff;
}

.header__user-profile-enter {
    font-size: 18px;
    text-decoration: none;
    margin-right: 50px;
    color: #000000;
}

.header__user-profile-logout {
    width: 18px;
    height: 18px;
    background-image: url(../../images/header__profile-logout.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    background-color: #ffffff;
}

.new-call {
    width: 100%;
    display: grid;
    grid-template-columns: 255px 1fr;
    padding-top: 50px;
    gap: 30px;
    align-items: flex-start;
}

.navigation {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 44px 0 92px 29px;
    box-sizing: border-box;
}

.navigation__item-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation__item {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.navigation__item-link {
    display: flex;
    text-decoration: none;
}

.navigation__item-image {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: cover;
}

.navigation__item:last-of-type {
    margin-bottom: 0;
}

.navigation__item-image_type_user-calls {
    background-image: url(../../images/navigation_user_calls.svg);
}

.navigation__item-image_type_new-call {
    background-image: url(../../images/navigation_new_call.svg);
}

.navigation__item-image_type_profile {
    background-image: url(../../images/navigation_profile.svg);
}

.navigation__item-image_type_information {
    background-image: url(../../images/navigation_information.svg);
}


.navigation__item-title {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    margin:0 0 0 18px;
    color: #5264A2;
    text-decoration: none;
    margin-right: 10px;
}

.navigation__logout {
    margin: 260px 0 85px 0;
}

.create-call {
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.create-call_type_place {
    padding: 70px 62px 161px 62px;
}

.create-call_type_problem {
    padding: 70px 62px 98px 62px;
}


.create-call_type_actuality {
    padding: 70px 62px 151px 62px;
}

.create-call_type_card-call {
    padding: 70px 62px 95px 62px;
}

.hint-title {
    font-size: 36px;
    line-height: 44px;
    font-weight: 600px;
    margin: 0 0 20px 0;
}

.hint-subtitle {
    font-size: 18px;
    line-height: 22px;
    margin: 0;
}

.cards {
    
}


.cards_type_place {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px 20px;
    padding-top: 38px;
}

.cards__type_problem {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px 20px;
    padding-top: 38px;
}

.cards__type_actuality {
    display: grid;
    gap: 25px 20px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
}

.card {
    display: flex;
    align-items: center;
    background-color: #E8EDFF;
    border-radius: 10px;
    padding: 0 10px;
    border: none;
    cursor: pointer;
}

.card_type_place {
height: 155px;
}

.card_type_problem {
    height: 70px;
}

.card_type_actuality {
height: 212px;
flex-direction: column;
justify-content: center;
}


.card__emoji {
    width: 45px;
    height: 45px;
    margin-right: 25px;
}

.card__emoji_type_actuality {
    width: 80px;
    height: 80px;
    margin: 0;
}
.card__title {
    margin: 0;
    text-align: left;
    font-size: 16px;
    line-height: 20px;
}

.card__title_type_actuality {
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    margin-top: 20px;
}

.button {
    border-radius: 30px;
    border: none;
    background-color: #5264A3;
    color: #ffffff;
    padding: 0;
    cursor: pointer;
}


.button_type_forward {
    width: 160px;
    height: 50px;
    align-self: flex-end;
    margin-top: 35px;
}

.button_type_submit {
    width: 160px;
    height: 50px;
    align-self: flex-end;
    margin-top: 35px;
}

.card-call {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 222px;
    grid-template-rows: 141px 1fr;
    gap: 20px 25px;
   
}

.card-call__element {
    width: 100%;
    background-color: #E8EDFF;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    height: 125px;
    
}

.card-call__element_type_poem {
    grid-column: 1/5;
    max-height: 180px;
}

.card-call__title {
font-size: 18px;
line-height: 22px;
font-weight: 600;
margin: 15px 0 14px 20px;
}

.card-call__image {
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

.card-call__description {
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    margin: 0 20px;
}

.footer  {
    height: 175px;
    width: 100%;
}