.banner__icon_house {
  top: 28px;
  right: 146px;
  width: 95px;
  height: 95px;
  transform: rotate(25deg);
}

@media screen and (max-width: 1024px) {
  .banner__icon_house {
    width: 75px;
    height: 75px;
    top: 35px;
    right: 62px;
  }
}

@media screen and (max-width: 768px) {
  .banner__icon_house {
    top: 35px;
    right: 30px;
  }
}
