.new-call__cards_type_problem {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px 16px;
}

@media all and (max-width:1024px) {
    .new-call__cards_type_problem {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px 16px;
        margin-bottom: 170px;
  }
}

@media all and (max-width:767px) {
    .new-call__cards_type_problem {
        display: flex;
        flex-direction: column;
        margin-bottom: 48px;
        gap: 0;
  }
}