.banner__icon_lightning {
  top: 200px;
  left: 50px;
  width: 45px;
  height: 65px;
  transform: rotate(-10deg);
}

@media (max-width: 1024px) {
  .banner__icon_lightning {
    top: 179px;
    left: 18px;
  }
}
