.footer__content {
  height: 120px;
  padding: 35px 0;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
}

@media (max-width: 1024px) {
  .footer__content {
    max-width: 784px;
  }
}
