.logo {
  width: 113px;
  height: 48px;
  background: url(../../images/logo.png);
  background-repeat: no-repeat;
  background-size: auto;
  border-radius: 10px;
  font-family: "Open Sans", Arial, sans-serif;
}
