.main__content {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  min-height: 600px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.4);
  position: relative;
}
