.card_size_s {
  height: 80px;
  align-items: center;
  padding: 10px 20px;
}

@media all and (max-width:1024px) {
  .card_size_s {
    height: 92px;
    padding: 6px;
  }
}

@media all and (max-width:768px) {
  .card_size_s {
    height: 80px;
  }
}

@media all and (max-width:767px) {
  .card_size_s {
    height: 92px;
    justify-content:center;
    padding: 10px 20px;
  }
}

@media all and (max-width:425px) {
  .card_size_s {
    justify-content:flex-start;
  }
}