.header__user-profile-logout {
  width: 18px;
  height: 18px;
  background-image: url(../../../images/header__profile-logout.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-image .2s linear;
  outline: none;
}

.header__user-profile-logout:hover {
  background-image: url(../../../images/header__profile-logout_hover.svg);
}

