.page {
  margin: 0;
  padding: 0;
}
.page-container {
  margin: 0 auto;
  box-sizing: content-box;
}

.header {
  background: #e8edff;
  padding: 20px 165px;
}

.header__content {
  margin: 0 auto;
  max-width: 1110px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__btn {
  outline: none;
  background: #5264a3;
  border: none;
  padding: 14px 54px;
  border-radius: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

.contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contacts__text {
  margin: 0 0 0 30px;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.logo {
  width: 64px;
  height: 50px;
  background: #5264a3;
  border-radius: 10px;
}

.banner {
  background: #fff0e8;
  padding: 108px 165px;
}

.banner__content {
  margin: 0 auto;
  max-width: 1110px;
}

.banner__title {
  max-width: 833px;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  padding: 0 0 50px 0;
  margin: 0;
  color: #000000;
}

.banner__btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.banner__btn {
  outline: none;
  background: #5264a3;
  border: none;
  padding: 13px 35px;
  border-radius: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

.banner__btn_transparent {
  background: none;
  color: black;
  padding: 13px 30px;
}

.content {
  background: white;
  padding: 100px 165px 0;
}

.content__content {
  margin: 0 auto;
  max-width: 1110px;
}

.content__title {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
  padding: 0;
  margin: 0 0 50px 0;
}

.content__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.content__item {
  width: 160px;
  height: 160px;
  background: #e8edff;
  border-radius: 50%;
}

.content_news {
  padding: 100px 165px;
}

.content__item_news {
  width: 350px;
  height: 230px;
  border-radius: 30px;
}

.footer {
  background: #e8edff;
  padding: 75px 165px;
}

.footer__content {
  margin: 0 auto;
  max-width: 1110px;
}
