.header__user-profile {
  border-radius: 10px;
  padding: 15px 20px 15px 16px;
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.4);
}
