.form-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_type_login {
  display: flex;
  flex-direction: column;
}

.form-container_type_login {
  width: 440px;
  border-radius: 30px;
  background-color: mediumslateblue;
  padding: 50px;
  position: relative;
}

.form__title_type_login {
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;
  margin: 0 0 40px 0;
}

.form__label_type_login {
  font-size: 18px;
  line-height: 22px;
  margin: 0 0 15px 0;
}

.form__input-error_type_login {
  height: 30px;
  color: red;
  margin-top: 5px;
}

.form__input_type_login {
  height: 45px;
  border: none;
  border-radius: 10px;
  width: 100%;
  font-size: 18px;
}

.button_type_enter {
  width: 160px;
  height: 50px;
  margin: 10px 0 0 auto;
}

.form_button-close_type_login {
  width: 20px;
  height: 20px;
  background-image: url(../../images/form__button-close.svg);
  background-size: cover;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px 20px 0 0;
  border: 0;
  border-radius: 30px;
  border: none;
  background-color: #5264A3;
  color: #ffffff;
  padding: 0;
  cursor: pointer;
}