.section__item_type_services {
  width: 173px;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  cursor: default;
}

@media screen and (max-width: 768px) {
  .section__item_type_services {
    width: 223px;
  }
}

@media screen and (max-width: 767px) {
  .section__item_type_services {
    width: 173px;
  }
}
