.form__fieldset_type_two-one-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

@media screen and (max-width: 425px) {
  .form__fieldset_type_two-one-columns {
    display: block;
  }
}