.popup__close-btn {
  padding: 0px;
  margin-top: 4px;
  border: 0;
  background: 0;
  color: #0038ff;
  font-size: 22px;
  line-height: 1;
  position: absolute;
  top: 24px;
  right: 24px;
  outline: none;
  cursor: pointer;
  transition: opacity .2s linear;
  background-image: url(../../../images/popup__button-close.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
}

.popup__close-btn:hover {
  opacity: .4;
}
