@import url(./__user-profile/header__user-profile.css);
@import url(./__user-profile-logout/header__user-profile-logout.css);
@import url(./__user-profile-enter/header__user-profile-enter.css);
@import url(./__content/header__content.css);
@import url(./__contacts/header__contacts.css);
@import url(./__btn/header__btn.css);

.header {
  padding: 20px 0;
  box-sizing: border-box;
  font-family: "Open Sans", Arial, sans-serif;
}

@media (max-width: 1024px) {
  .header {
    max-width: 784px;
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .header {
    max-width: 720px;
  }
}

@media (max-width: 425px) {
  .header {
    padding: 8px 0;
    max-width: 328px;
  }
}
