.navigation__item {
    display: flex;
    margin-bottom: 16px;
    padding: 0;
    background-color: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), rgba(255, 255, 255, 0.4);;
    backdrop-filter: blur(20px);
    border-radius: 6px;
  }
  
  
  .navigation__item:last-of-type {
    margin-bottom: 0;
  }