.form {
  padding: 50px;
  border-radius: 30px;
  background-color: mediumslateblue;
  position: relative;
}

.form-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@import url(./_type/form_type_register.css);
@import url(./_type/form_type_login.css);
@import url(./__title/form__title.css);
@import url(./__fieldset/form__fieldset.css);
@import url(./__fieldset/_type/form__fieldset_type_adress.css);
@import url(./__fieldset/_type/form__fieldset_type_contact.css);
@import url(./__fieldset/_type/form__fieldset_type_login.css);
@import url(./__fieldset/_type/form__fieldset_type_street.css);
@import url(./__input-container/form__input-container.css);
@import url(./__input/form__input.css);
@import url(./__input-error/form__input-error.css);
@import url(./__label/form__label.css);
@import url(./__link/form__link.css);
@import url(./__button-close/form__button-close.css);
@import url(./__submit-button/form__submit-button.css);


























