.main__content_grid_new-call {
  grid-template-rows: repeat(2, max-content) 1fr;
  grid-template-areas: "title title steps steps"
                       "cards cards cards cards"
                      "button-prev ... ... button-nxt";
}

@media screen and (max-width:1024px) {
    .main__content_grid_new-call {
        grid-template-rows: auto;
        grid-template-areas: "title title"
                             "steps steps"
                             "cards cards"
                            "button-prev button-nxt";
    }
  }


  @media screen and (max-width:767px) {
    .main__content_grid_new-call {
        grid-template-rows: repeat(auto, max-content);
        grid-template-areas: "title"
                             "steps"
                             "cards"
                             "button-nxt"
                            "button-prev";
                            
    }
  }