.new-call__next-button {
    border-radius: 30px;
    border: none;
    background-color: #5264A3;
    color: #ffffff;
    padding: 0;
    cursor: pointer;
    width: 160px;
    height: 50px;
    align-self: flex-end;
    margin-top: 35px;
  }